pytz
urllib3
tzdata
six
packaging
numpy
markupsafe
joblib
itsdangerous
idna
click
charset_normalizer
certifi
blinker
werkzeug
requests
python-dateutil
jinja2
gunicorn
pandas
Flask
sklearn

